////////////////////////////////////
+width-max(1350px)
  .prev-p 
  .next-p 
    display none
////////////////////////////////////
+width-max(1200px)
  .col__23.mix
    width 31.6%
////////////////////////////////////
+width-max(1185px)
  .container-wrapper
    width 100%
////////////////////////////////////
+width-max(1129px)
  .section__about .str36
    font-size 30px
  .section__bg__per
    .row 
      flex-wrap: wrap;
      flex-direction: column;
  .self-center
    padding 30px 0
////////////////////////////////////
+width-max(1025px)
  .section__sl__article
    width 100%
  .footer__up
    display none
  .search 
    border none
    left 15px
  .toggle-menu
    display block
  .section__sl
    overflow visible
    max-height none
    .row 
      flex-wrap wrap
      .col__62 
      .col__38
        width 100%
  .section__obj__article 
    .row 
      flex-wrap wrap
    .col__20
      width 50%
      &:last-child
        display none
      &:nth-child(even)
        .section__obj__wrap
          border-right none
  .menu 
    display none
  .container-wrapper 
    padding 0 20px
  .section__obj__build .col__65 .row
    flex-wrap wrap
    .col__50 
      width 100%
      margin 0 0 10px 0
////////////////////////////////////
+width-max(1000px)
  .single-page
    .row 
      flex-wrap wrap 
      .col__60
      .col__40 
        margin 0px
        width 100%
      .col__60 
        margin 0 0 20px 0
      .col__40 img
        width 100%
  .share-row
    flex-direction: column-reverse;
    .col__40 
      position relative 
      top -20px
    .end 
      justify-content: flex-start;
    
////////////////////////////////////
+width-max(990px)
  .bx-car-wrap
    display none
  .page-stat
    width 100%
    padding 0 20px
    margin-top 20px
  .bx-wrap
    width 100%
    padding 0 20px
    img 
      width 100%
  .footer .responsive-column
    flex-wrap wrap
    > .col__50
      width 100%
      &:first-child
        margin-bottom 20px
////////////////////////////////////
+width-max(945px)
  .footer .responsive-column
    flex-wrap wrap
    .col__50
      width 100%
  .section__obj__build .str24
    margin-top 0px
  .section__obj__table
    .str14.ta-left
      width 67%
  .section__about
    .row 
      flex-wrap wrap
    .col__25
    .col__39
    .col__36
      width 100%
    p 
      padding 0px
    .img-border-wrapper-left
      padding-left 31px
////////////////////////////////////
+width-max(900px)
  .filter__items
    flex-wrap wrap 
    ul 
      width 100%
      li:last-child span 
        margin-bottom 15px
      &:last-child li:last-child span 
        margin-bottom 0px
  .col__23.mix
    width 48.7%     
////////////////////////////////////
+width-max(870px)
  .lic-gal
    .col__23 
      width 48%
      span 
        display none
      &:nth-child(4n-0)
        margin-right 0px
      &:nth-child(odd)
        margin-right 2%
      &:nth-child(even)
        margin-right 0%
        margin-left 2%
  .col__65 img
    left 0px
    padding-left 10px
  .col__329
    margin 0 0 20px 0
  .flex__870
    flex-wrap wrap
    flex-direction column
    .col__50
    .col__55
    .col__45
    .col__65
    .col__35
    .col__40
      width 100%
      margin 0 0 20px 0
    .col__50:last-child
      margin-bottom 0px
  .img-border-wrapper
    padding-right 31px
  .nums-wrapper
    .col__50:first-child
      margin-bottom 0px
  .cli-p 
    width 100%
////////////////////////////////////
+width-max(800px)
  .c-ul-row 
    flex-wrap wrap 
    .c-ul 
      width 100%
      padding 20px
  .form-r 
    flex-wrap wrap 
    .col__60
    .col__40 
      width 100%
      margin 0
    .col__60
      margin-bottom 20px
  .popup__title 
    font-size 20px
  .popup__container
    width 100%
    padding 40px 10px 10px 10px
  .section__content-h2
    line-height 20px
  .tags li
  .new-tags
    line-height 20px
  .comment-area-wrapper .comment-area-wrapper
    padding 0px
  .comment-c .str30
    font-size 20px
  .comment-c1 
  .comment-c2 
  .comment-c3 
    padding 0 0 10px 0
  .comment-result 
    .button 
      right auto 
      left 0px 
      position relative
      bottom 30px
      width 100%
  .comment-form
    .form > form > .row 
      flex-wrap wrap 
      .col__60 
      .col__40 
        margin 0px
        width 100%
  .full__pagination
  .pagnav
    flex-wrap wrap
  .full__pagination li:nth-child(4)
    margin-right auto
  .full__pagination_reset
    .pagination__item:nth-child(2)
      margin-left auto 
      margin-right auto
  .pagnav li:first-child
    margin-left auto
  .full__pagination .pagination__item:last-child
    margin-left 0
  .full__pagination .pagination__item
  .pagnav .pagination__item
    margin 0 5px 10px 5px
  .pagnav .pagination__item:last-child
  .full__pagination .pagination__item:last-child
  .full__pagination .pagination__item:first-child
    width 100% 
    margin 0 0 10px 0
    a 
      width 100%
  .news-wrapper 
    .str30 
      font-size 20px
      line-height 25px
    .row 
      flex-wrap wrap 
      .col__50 
        width 100%
        margin 0px
        &:first-child
          margin 0 0 20px 0
  .section__content-contact-form
    form > .row 
      flex-wrap wrap 
      .col__40 
      .col__60
        width 100%
        margin 0px
  .section__content-contacts .jsCont 
    > .row 
      flex-wrap wrap
      flex-direction column
    .col_bg 
      width 100%
      margin 0 0 20px 0
      padding-bottom 20px
  .section__not-found
    padding 30px 0
  .not-str 
    absolute-center(260px,150px)
    .str30 
    .button
      font-size 14px
      margin 0px
    .button 
      height 30px 
      line-height 32px
      margin-top 10px
  .d-download .row 
    flex-wrap wrap 
    .col__50 
      width 100%
      &:first-child
        margin-bottom 20px
  .step 
    .str30 
      font-size 20px
  .col__custom
    width 100%
    flex-wrap wrap 
    ul 
      width 100%
  .section__num
    display none
  .section__about
    padding 20px 0
  .section__obj__build
    padding-top 20px
    padding-bottom 200px
  .morphsearch.open input
    font-size: 16px !important;
////////////////////////////////////
+width-max(768px)
  .offers
    .row 
      flex-wrap wrap
    .col__23 
      width 48%
  .acordion__link
  .section__mission__list
    font-size 12px
  .section__content-h2
    font-size 20px
  .header__top
    .responsive-column
      justify-content: space-between;
      .header__col 
        padding 0px
  .section__obj__build
    .row 
      flex-wrap wrap 
      .col__35
      .col__65 
        width 100%
      .col__35
        margin 0px 0 20px 0
        padding-right 31px
////////////////////////////////////
+width-max(670px)
  .tab-c
    width 100%
////////////////////////////////////
+width-max(600px)
  .col__23.mix
    width 100%
    margin-right 0px
  .history
    flex-wrap wrap 
    .col__left 
    .col__right 
      width 100%
    .col__left 
      margin 0 0 20px 0
    .col__right 
      flex-basis: initial;
    .str30
      font-size 20px
  .bx-contros-slider
    display none
  .header__col:nth-child(2)
    display none
  .section__obj__title .str24
    font-size 14px
  .col__628.img-width
    display none
  .team__item 
    flex-wrap wrap 
  .acordion__sub__link
    width 48%
    margin-bottom 20px
////////////////////////////////////
+width-max(515px)
  .step 
    .str30 
      font-size 15px
  .docs__link
    width 100% !important
    margin 0 0 20px 0 !important
  .offers
    .col__23 
      width 100%
  body .acordion__sub-item_reset
    margin-top 15px
  .acordion__sub-item
    padding-left 0px
  .acordion__sub__link
    width 100%
  .row__title
    .section__content-h2
      font-size 14px
    flex-wrap wrap
    a
      margin-bottom 10px
      width 100%
  .section__sl__article
    width 100%
  .footer__copi p
    width 280px
    font-size 12px
  .section__obj__table .str14.ta-left
    width 53%
  .section__obj__title
    .row 
      flex-wrap wrap
    span 
      margin-bottom 10px
      width 100%
  .section__obj__wrap p, .section__sl p
    white-space pre-line
  .header__top .str21
    font-size 14px
  .section__obj__article .col__20
    width 100%
    border-left 1px solid grey2
    &:nth-child(even)
      .section__obj__wrap
        border-right 1px solid grey2
  .section__sl .str24
    font-size 14px
  .footer__copi
    .end
      justify-content: flex-start;
    .row 
      flex-wrap wrap
      .col__50 
        width 100%
        padding 10px 0
    .icon-level
      margin-left 0px
  .footer .responsive-column
    flex-wrap wrap
    > .col__50
      width 100%
      &:first-child
        margin-bottom 20px
      .row 
        flex-wrap wrap 
        .col__50 
          width 100%
          &:first-child
            margin-bottom 20px
  