+width-max(1315px)
  .section__sl .str12
    display none
+width-max(1185px)
  .container-wrapper
    width 100%
+width-max(1190px)
  .section__obj__wrap
    height auto
  .section__obj__wrap p
  .section__sl p
    ellipsis()
+width-max(1129px)
  .section__about .str36
    font-size 30px
+width-max(1025px)
  .section__sl
    overflow visible
    max-height none
    .row 
      flex-wrap wrap
      .col__62 
      .col__38
        width 100%
  .section__obj__article 
    .row 
      flex-wrap wrap
    .col__20
      width 50%
      &:last-child
        display none
  .menu 
    display none
  .container-wrapper 
    padding 0 20px
  .section__obj__build .col__65 .row
    flex-wrap wrap
    .col__50 
      width 100%
      margin 0 0 10px 0
    