@import 'plugins/animate.css'
@import 'plugins/bxslider.css'
@import 'plugins/component.css'
// @import 'plugins/remodal-default-theme.css'
// @import 'plugins/remodal.css'
// @import 'plugins/jquery.formstyler.css'
// @import 'plugins/slick.css'
// @import 'plugins/CustomScrollbar.css'
// @import 'plugins/lightslider.min.css'