@import '_plugins'
@import nib
@import '_variables'
@import '_components'
@import '_media'
@import '../fonts/stylesheet.css'

body 
  regular()
  max-width 1920px
  margin 0 auto
  display: flex;
  min-height: 100vh;
  flex-direction: column;

.header 
  box-shadow inset 0 -6px 0 yellow
  

  .relative 
    position relative
  &__responsive-menu
    margin 0 -20px
    display none
    position absolute
    background: blue
    width 100%
    left 0px
    z-index 2
    padding 10px 0
    top 64px 
    border-top 6px solid #212e75
    box-shadow 0 15px 12px -1px rgba(10, 15, 45, 0.28);
    li 
      margin 10px 0
      padding 0 40px
      position relative
      li 
        padding 0 10px
    a 
      bordered()
      padding 5px 0
      span
        position absolute
        left 15px
        +before('+')
          color white
    .open 
      span 
        before('-')
          
  &__top 
    padding 20px 0
    .str21 
      color blue2
      display block
      margin 0 0 10px 0
    .str10 
      color blue
      text-transform: uppercase
    .str12 
      color blue2
      display: block
      text-transform: uppercase
      margin 0 0 5px 0
    .button 
      margin 8px 0 0 0
  &__col 
    padding 0 30px
    .str19 
      color blue2
      text-transform: uppercase
      margin-right 10px
    .icon-1
      +before('')
        sprite($sprite-phone)
        display inline-block 
        vertical-align: middle
        position relative 
        top -2px
        left 3px
        width 20px
    .icon-2
      +before('')
        sprite($sprite-fax)
        display inline-block 
        vertical-align: middle
        position relative 
        top -2px
        left 0px
        width 20px
    .icon-3
      +before('')
        sprite($sprite-envelope)
        display inline-block 
        vertical-align: middle
        position relative 
        top -2px
        left 0px
        width 20px
  &__down 
    width 40px
    border-left 1px solid grey2
    cursor pointer
    span 
      sprite($sprite-down)
      margin auto auto
  .header__lang.active
    .header__down
      background image-url('bg1.png') no-repeat top left
    .border 
      display flex
  &__eng 
    sprite($sprite-en)
    margin 9px 15px
  &__ru 
    sprite($sprite-ru)
    margin 10px 15px
  &__lang 
    border 1px solid grey2
  .border 
    border-top 1px solid grey2
    display none
  .icon-4 
    sprite($sprite-building)
    margin-right 5px
  &__bottom 
    position: relative
    +after('')
      width 100% 
      height 1px 
      background: grey2
      left 0px 
      top 0px
      position absolute 
      display block
      z-index 0


menu 
  width 100%
  z-index 2
.menu 
  position relative
  

  &__item 
    box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    box-shadow inset 0 -6px 0 yellow
    border-right 1px solid grey2
    &:first-child
      border-left 1px solid grey2
    +after('')
      width 1px 
      height 64px
      background: grey2
      display block
      top 0px 
      right 0px
      position absolute
    &_active 
      background: blue 
      border-color: blue;
      +after()
        display none
      .menu__link
        color white
      box-shadow inset 0 -6px 0 #212e75
    &:hover 
      box-shadow inset 0 -6px 0 #212e75
      background: blue
      .menu__sub 
        display flex
      +after()
        display none
      .menu__link 
        color white
  &__link
    text-align: center
    color blue
    bold()
    font-size 18px
    text-transform uppercase
    display: block
    height 70px 
    line-height @height
    position: relative
    +after('')
      position absolute
      width 1px 
      height 6px 
      right -1px 
      bottom 0px
      background: yellow
      display block
  &__sub 
    display none
    position absolute
    width 100%
    z-index 2
    left 0px
    padding 22px 30px
    box-shadow: 0 8px 7px 4px rgba(0, 0, 0, 0.15);
    top: 64px;
    &__item
      &:first-child 
        border-right 1px solid #404b90
        padding-right 30px
        margin-right 30px
      &2 
        margin 0 0 15px 0
        &:last-child
          margin 0px
    &__link 
      bordered()
  .bg1
    background image-url('bg2.png') blue no-repeat right
    width 100%
  .bg2
    background image-url('bg3.png') blue no-repeat right bottom
    width 100%
  .bg3
    background image-url('bg4.png') blue no-repeat right
    height 186px
    li
      border none
      

.footer
  background: blue
  padding 40px 0
  position: relative
  

  .form__input 
    background: blue3
    color white 
    text-transform: uppercase
    font-size 12px
    padding 0 10px 
    height 36px 
    line-height @height
    bold()
    +placeholder()
      color white
  .form__label
    position: relative
    &_bg
      margin 20px 0 0 0
      +after('')
        sprite($sprite-plain)
        vam(10px, , absolute)
        right 10px 
        cursor pointer
      &:hover 
        +after()
          sprite($sprite-plaina)
  &__link 
    bordered()
    margin 0 0 14px 0
  .str16
    color white
    text-transform: uppercase
    bold()
  p 
    color white
    margin 8px 0 0 0
    line-height 14px
  &__soc-link 
    margin 10px 10px 0px 0
  &__copi
    .col__50
      padding 30px 0
    p
      width 300px
  &__up 
    sprite($sprite-up)
    position absolute
    bottom -30px
    z-index 1
    left 47.5%
    cursor pointer
    &:hover 
      sprite($sprite-upa)

.section
  

  &__sl 
    overflow hidden
    .slide img 
      width 100%
    &__article 
      width 300px
    .col__100
      border-bottom 1px solid #404c90
      margin-bottom 25px
      width 96%
      &:last-child
        border none
        margin 0px
    &__all
      bordered()
    &__more
      background: white 
      color blue
      font-size 12px 
      bold()
      text-transform: uppercase
      height 35px 
      line-height 38px
      padding 0 0 0 10px
      margin 20px 0 25px 0
      display inline-flex
      box-shadow 0 0 23px #09113e
      .icon
        background: yellow
        padding 0 12px
        margin-left 10px
        box-shadow: inset 1px 0 4px rgba(0, 0, 0, 0.18);
        +after('')
          sprite($sprite-right)
          vam()
      &:hover 
        color yellow
        .icon 
          background: yellow2
    .col__38
      padding 25px 5px 25px 25px
      background blue
      box-shadow: inset 0 0 30px rgba(12, 28, 125, 0.8);
    .str24 
      bold()
      color blue4
      margin 0 0 20px 0
      +before('')
        sprite($sprite-news)
        display: inline-block
        vertical-align: middle
        margin-right 10px
    .str14 
      bold()
      color blue4
      display: block
      margin 0 0 10px 0
    .str12 
      color blue4
      margin 0 0 10px 0
      +before('')
        sprite($sprite-time)
        vam(-1px, 0px 10px 0 0)
    p
      color blue4
      line-height 19px
      

  &__obj
    background: grey3


    &__title
      background: white 
      border-bottom 4px solid yellow
      padding 20px 0
      .str24 
        bold()
        color blue 
        text-transform: uppercase
      .str14 
        text-transform: uppercase 
        bold()
        color #156dbd
        +before('')
          sprite($sprite-left2)
          vam(, 0px 10px 0 0)
    &__name
      bold()
      color blue
      +before('')
        sprite($sprite-icon1)
        vam(-2px, 0px 6px 0 0)
      margin 0 0 10px 0
    &__name2
      bold()
      color blue2
      margin 0 0 5px 0
    &__item 
      line-height 17px
      width 100%
      display: block
      img 
        width 100%
        display block
      .icon2 
        sprite($sprite-left3)
    &__wrap 
      padding 20px 10px 10px 10px
      box-sizing content-box
      border-right 1px solid grey2
    .col__20 
      &:last-child .section__obj__wrap
        border none
      &:hover
        .section__obj__wrap
          background: yellow
          trs()
          box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.32);
        .icon2 
          sprite($sprite-left3a)
        .section__obj__name2
          color blue
        .section__obj__arrow 
          margin-left 0px
          trs()
          .icon
            margin-left 45%
            trs()
            +before()
              sprite($sprite-left4a)
    &__img 
      position relative
      overflow hidden
    &__arrow 
      trs()
      position absolute
      background: rgba(39, 52, 128, 0.78);
      width 100% 
      height 100%
      top 0px 
      left 0px
      margin-left -77%
      .icon
        width 100%
        height 100%
        position relative
        +before('')
          sprite($sprite-left4)
          absolute-center( 31px,27px ,vertical)
        margin-left 81%
        trs()
    &__table
      border 1px solid grey2
      .ta-right 
        width 100px
        line-height 18px
        margin-right 20px
      .str14 
        line-height 18px
      li 
        border-bottom 1px solid grey2 
        padding 10px 0
        &:last-child
          border none
    &__build 
      background: image-url('bg5.jpg') white center bottom no-repeat
      padding 90px 0 350px 0
      .str24 
        color blue 
        margin 30px 0 0 0
      .str16 
        color blue2
        text-transform: uppercase
        margin 20px 0
      .str18 
        color blue
        margin 0 0 20px 0
        +before('')
          sprite($sprite-icon2)
          vam(, 0px 10px 0 0)
          

  &__num 
    background: image-url('bg6.jpg') center no-repeat
    background-size cover
    padding 50px 0

    
    .str72
    .str18 
      color blue4
      text-transform: uppercase
      text-align: center
      

  &__about
    padding 70px 0 100px 0
    background: image-url('bg-main.jpg')
    

    p 
      margin 0 0 20px 0
      padding 0 50px 0 20px
    .str36 
      color blue
      bold()
      text-transform uppercase
    .str16 
      medium()
      color blue2
      text-transform: uppercase
      line-height 23px
      margin 20px 0 0 0
    &_padding 
      padding 30px 0 0 0
      

  &__client 
    overflow hidden
    background: grey3
    padding 35px 0
    

  &__content 
    background: image-url('bg-main.jpg')
    box-flex: 1;
    flex: 1;
    

    p 
      margin 0 0 25px 0
      line-height 22px
      


  &__bg 
    background: #f9f9f9
    margin 60px 0 0 0
    

    &__per 
      padding-bottom 20px
      .row 
        align-items: baseline;
      .str30
        bold()
        color blue
        margin-right 10px
      .str18
        color black
        medium()
    &__progress
      background #e7e7e7
      margin 20px 0 0 0
      span 
        width 80%
        background: yellow
        height 20px
        display: block


  &__mission 
    padding 80px 0 90px 0
    

    &__list
      font-size 14px 
      color blue2
      bold()
      margin 0 0 12px 0
      display flex
      +before('')
        border-left 3px solid yellow 
        border-bottom 3px solid yellow
        width 12px 
        height 6px
        vam(-3px, 0px 10px 0 0)
        transform rotateZ(-50deg)
    

  &__rev 
    background: #eaeeef
    padding 50px 0 30px 0
    

    &__slider 
      margin 20px 0 0 0


.bread-crumbs
  padding 30px 0
  

  &__item
    medium()
    color blue3 
    font-size 14px
    display: inline-block
    margin-bottom 5px
    a 
      color blue
    &:last-child
      background: yellow 
      color blue
      padding 3px 15px
    &:first-child
      +before('')
        sprite($sprite-home)
        display: inline-block
        margin-right 6px
  &__separator 
    sprite($sprite-bread)
    display: inline-block
    margin 0 10px
    

.acordion
  

  &__item
    position relative
    padding 0 0 40px 0
  &__link 
    font-size 18px
    color black 
    bold()
    display flex
    align-items center
    line-height 22px
    span 
      +before('')
        sprite($sprite-acordion)
        vam(, 0px 20px 0 0)
  &__item.open a span 
    +before()
      sprite($sprite-acordion-a)
  &__sub-item 
    margin 20px 0 0 0
    padding 0 0px 0 72px
    

.bx-controls
  

  .s-prev 
    a
      sprite($sprite-bx-prev)
    &:hover a
      sprite($sprite-bx-prev-a)
  .s-next 
    a
      sprite($sprite-bx-next)
    &:hover a
      sprite($sprite-bx-next-a)
      

.docs__link
  border 1px solid grey2
  +after('')
    width 100% 
    height 100% 
    background: yellow
    position: absolute
    top 0px 
    left 0px
    z-index 1
    opacity 0
    trs()
  +before()
    sprite($sprite-plus)
    absolute-center(30px, 30px)
    opacity 0
    trs()
    z-index 2
  &:hover 
    +before()
      opacity 1
      trs()
    +after()
      opacity 0.8
      trs()
      
.lic
  .docs__link
    +before('')
      sprite($sprite-br) !important
    span
      position: absolute
      right -28px 
      bottom -30px
      sprite($sprite-plus2)