extends layout
include mixins.pug

block content
  - var pageId = 0;
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Онас"
      ])
      .row.flex__870
        .col__45.col_margin
          .img-border-wrapper
            .img-border.img-border_grey
              img(src="images/articles/4.jpg", alt="")
        .col__55
          .section__content-h2 Мы рады приветствовать вас!
          p ЗАО «Управляющая компания строительного холдинга» (ЗАО «УКСХ») - одна из динамично развивающихся инжиниринговых компаний в России. ЗАО «УКСХ» оказывает полный комплекс услуг в области проектирования и строительства различных объектов «под ключ» для предприятий металлургической, машиностроительной, электроэнергетической и других промышленных отраслей.
          +lists(
            ['Компания «УКСХ» является правопреемником крупных советских предприятий:'],
            ['lists__item_yellow'],
            [
              'Пусконаладочного управления треста «Уралметаллургмонтаж», работающего на рынке с 1965 года;',
              'Новочеркасского участка СМУ «Стальконструкция» в составе Ростовского управления треста «Стальконструкция» с 1945г.'
            ]
          )
          p Управляющая компания строительного холдинга осуществляет управление проектами и проводит полный цикл инжиниринговых работ:
          +lists(
            [''],
            ['lists__item_yellow'],
            [
              'Проектирование и строительство производственных объектов;',
              'Проектирование, изготовление и монтаж металлоконструкций различного назначения;'
            ]
          )
    .section__bg
      .container-wrapper 
        .row.flex__870
          .col__50.self-center.col_margin
            .section__bg__per
              .row
                span.str30 90%
                span.str18 Проектирование промышленных объектов 
              .section__bg__progress
                span.span__90
            .section__bg__per
              .row
                span.str30 82%
                span.str18 Строительство объектов «под ключ» 
              .section__bg__progress
                span.span__82
            .section__bg__per
              .row
                span.str30 99%
                span.str18 Электромонтажные работы 
              .section__bg__progress
                span.span__99
            .section__bg__per
              .row
                span.str30 89%
                span.str18 Монтаж оборудования и трубопроводов
              .section__bg__progress
                span.span__89
          .col__50.self-end
            img(src="images/backgrounds/bg8.jpg", alt="").bg-img
    .section__mission
      .container-wrapper
        .row.flex__870
          .col__50.col_margin
            h2.section__content-h2 Наша миссия
            p Широкие возможности по изготовлению металлоконструкций, наличие собственных производственных баз и строительной техники, а также профессионализм сотрудников позволяют ЗАО «УКСХ» подходить индивидуально к каждому проекту наших заказчиков, выполняя при этом как стандартные, так и эксклюзивные задачи по строительству, реконструкции и модернизации производства.
            p Опорой для развития нашего бизнеса стали компетентность и высокая квалификация сотрудников всех подразделений, ставших единой, сплоченной профессиональной командой. Строительные, проектные и производственные подразделения холдинга находятся  в Свердловской, Челябинской и Ростовской области и Краснодарском крае.
            ul.section__mission__ul
              li.section__mission__list С другой стороны постоянное информационно;
              li.section__mission__list Не следует, однако забывать, что консультация ;
              li.section__mission__list Задача организации, в особенности же;
              li.section__mission__list Идейные соображения высшего порядка.
          .col__50
            h2.section__content-h2 Наше видиние
            +acordion([
              {
                title: 'Широкие возможности по изготовлению',
                text: 'С 16 декабря 2009 года ЗАО «УКСХ» входит в состав Некоммерческого партнерства «Строители Свердловской области», Свидетельство СРО №0075.11-2009-6660144200-С-046',
              },{
                title: 'Специалисты предприятия холдинга',
                text: 'С 16 декабря 2009 года ЗАО «УКСХ» входит в состав Некоммерческого партнерства «Строители Свердловской области», Свидетельство СРО №0075.11-2009-6660144200-С-046'
              },{
                title: 'Лицензия на работы, связанные с использованием сведений',
                text: 'С 16 декабря 2009 года ЗАО «УКСХ» входит в состав Некоммерческого партнерства «Строители Свердловской области», Свидетельство СРО №0075.11-2009-6660144200-С-046'
              },{
                title: 'Мы открыты для сотрудничества и готовы рассмотреть все предложения',
                text: 'С 16 декабря 2009 года ЗАО «УКСХ» входит в состав Некоммерческого партнерства «Строители Свердловской области», Свидетельство СРО №0075.11-2009-6660144200-С-046'
              }
            ])
    +slider()