extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Охрана труда и окружающей среды"
      ])
      +heading([
        'Публикации в прессе.',
        'Цель компании УКСХ в сфере охраны труда – обеспечение высокого уровня безопасности, гигиены и здоровья работников, предотвращение и контроль возможных производственных опасностей на рабочем месте для сокращения источников профессиональных рисков.'
      ])
      .date-line
        .bx-silder-5
          .slide
            a(href="#").date__link 2015
          .slide
            a(href="#").date__link 2014
          .slide
            a(href="#").date__link 2013
          .slide
            a(href="#").date__link 2012
          .slide
            a(href="#").date__link 2011
          .slide
            a(href="#").date__link 2010
          .slid
            a(href="#").date__link 2009
          .slide
            a(href="#").date__link 2008
          .slide
            a(href="#").date__link 2007
          .slide
            a(href="#").date__link 2006
          .slide
            a(href="#").date__link 2005
          .slide
            a(href="#").date__link 2004
          .slide
            a(href="#").date__link 2003
          .slide
            a(href="#").date__link 2002
          .slide
            a(href="#").date__link 2001
          .slide
            a(href="#").date__link 2000
          .slide
            a(href="#").date__link 1999
          .slide
            a(href="#").date__link 1998
          .slide
            a(href="#").date__link 1997
          .slide
            a(href="#").date__link 1996
      .container
        - for (var x = 0 ; x < 5; x++)
          .row.history.between.history_reset
            .col__left.col_margin
              span.str58 29
              span.str20 Дкабрь
              img(src='images/articles/5.jpg').arcticle__prev
            .col__right.auto__width
              span.str30 В 2015 году на треть сократилось число компаний в Петербурге, проводящих новогодние корпоративы
              p Идейные соображения высшего порядка, а также консультация с широким активом способствует подготовки и реализации соответствующий условий активизации. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание новых предложений. Разнообразный и богатый опыт начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание форм развития.