extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Партнеры компании"
      ])
      +heading([
        'Партнеры компании',
        'Цель компании УКСХ в сфере охраны труда – обеспечение высокого уровня безопасности, гигиены и здоровья работников, предотвращение и контроль возможных производственных опасностей на рабочем месте для сокращения источников профессиональных рисков.'
      ])
      .container
        - for (var x = 0 ; x < 5; x++)
          .row.history.between.history_reset.partners
            .col__left.col_margin
              img(src='images/articles/6.png').arcticle__prev
            .col__right.auto__width
              span.str30 Pöyry
              p Компания, являющаяся ведущим мировым поставщиком консультационных и инженерно-технических услуг в области лесной, целлюлозно-бумажной промышленности, энергетики и инфраструктуры. Имеет отделения в 50 странах мира.
              p.blue Опыт взаимодействия с УКСХ: организация выполняет функции технического надзора при строительстве административно-делового комплекса «Технопарк Пулково» (Санкт-Петербург).