extends layout
include mixins.pug

block content
  - var pageId = 0;
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Охрана труда и окружающей среды"
      ])
      +heading([
        'Охрана труда и окружающей среды.'
      ])
      .save
        .row.flex__870.between
          .col__40.col_margin.img-flex
            img(src="images/backgrounds/bg10.png", alt="")
          .col__55
            +text(['Цель компании УКСХ в сфере охраны труда – обеспечение высокого уровня безопасности, гигиены и здоровья работников, предотвращение и контроль возможных производственных опасностей на рабочем месте для сокращения источников профессиональных рисков.'])
            +lists(
              ['Приоритетными направлениями политики для нас являются:'],
              ['lists__item_yellow'],
              [
                'сохранение жизни и здоровья работников;',
                'соблюдение требований контрактов и ожиданий Заказчика, действующих',
                'законодательных и иных нормативных правовых актов, органов государственного надзора и контроля;',
                'вовлечение сотрудников в управление охраной труда и здоровья;',
                'повышение эффективности системы управления охраной труда, создающей атмосферу безопасности.'
              ]
            )
      .text 
        p Политика компании в области безопасности осуществляется через внедрение системы управления охраной труда. 
        p Каждый сотрудник компании УКСХ, участвующий в реализации проекта, отвечает за соблюдение требований охраны труда. Как заинтересованная сторона в предотвращении и контроле производственных опасностей руководство компании предоставляет систематическое обучение, а также необходимые организационные ресурсы и средства, с помощью соответствующих процедур и механизмов развивает диалог и обмен информацией. 
      .container.container_reset
        h2.section__content-h2 Стандарты предприятия: 
        .row.nums-wrapper.flex__870
          .col__50
            +nums([
              {
                value: '1',
                title: 'Система управления охраной труда'
              },
              {
                value: '2',
                title: 'Органы управления и должностные лица'
              },
              {
                value: '3',
                title: 'Обучение методам охраны труда и проверка знаний'
              }
            ])
          .col__50
            +nums([
              {
                value: '4',
                title: 'Система управления охраной труда'
              },
              {
                value: '5',
                title: 'Органы управления и должностные лица'
              },
              {
                value: '6',
                title: 'Обучение методам охраны труда и проверка знаний'
              }
            ])
      .container 
        h2.section__content-h2 Охрана окружающей среды 
        +text([
          'Цель компании УКСХ в области охраны окружающей среды - минимизация воздействия деятельности на окружающую среду и здоровье человека в процессе реализации проектов.'
        ])
        +lists(
              ['Система мероприятий по охране окружающей среды предусматривает:'],
              ['lists__item_yellow'],
              [
                'контроль при реализации проектов за обращением со строительными и бытовыми отходами, соблюдение технологических регламентов обращения со строительными отходами, предусматривающих уменьшение количества захораниваемых отходов, сокращение затрат по обращению с отходами путём применения экологически чистого сырья, селективного сбора, безопасного размещения в местах временного хранения;',
                'осуществление и контроль мероприятий для охраны земель от воздействий объекта в соответствии с согласованной с органами госнадзора и утверждённой проектной документацией;',
                'осуществление и контроль мероприятий для охраны водных ресурсов в соответствии с согласованной с органами госнадзора и утверждённой проектной документацией.',
              ]
            )