extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "История компании"
      ])
      +heading([
        'История компании.',
        'Цель компании УКСХ в сфере охраны труда – обеспечение высокого уровня безопасности, гигиены и здоровья работников, предотвращение и контроль возможных производственных опасностей на рабочем месте для сокращения источников профессиональных рисков.'
      ])
      .date-line
        .bx-silder-5
          .slide
            a(href="").date__link 2015
          .slide
            a(href="").date__link 2014
          .slide
            a(href="").date__link 2013
          .slide
            a(href="").date__link 2012
          .slide
            a(href="").date__link 2011
          .slide
            a(href="").date__link 2010
          .slid
            a(href="").date__link 2009
          .slide
            a(href="").date__link 2008
          .slide
            a(href="").date__link 2007
          .slide
            a(href="").date__link 2006
          .slide
            a(href="").date__link 2005
          .slide
            a(href="").date__link 2004
          .slide
            a(href="").date__link 2003
          .slide
            a(href="").date__link 2002
          .slide
            a(href="").date__link 2001
          .slide
            a(href="").date__link 2000
          .slide
            a(href="").date__link 1999
          .slide
            a(href="").date__link 1998
