extends layout
include mixins.pug

block content
  +header()
  section.section__content.section__content_news
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        'Пресс-центр',
        "Новости компании",
        'За год в Петербурге построено около 450 тыс. кв. м производственных площадей'
      ])
      +heading([
        'За год в Петербурге построено около 450 тыс. кв. м производственных площадей'
      ])
      .tags 
        ul
          li июль 9, 2016       
          li ADMIN       
          li Дизайн интерьера, проекты       
          li 2 комментария
      .container.container_top
        .single-page 
          .single-page-img 
            img(src='images/articles/9.jpg')
          +text(['Компания STEP проанализировала активность на рынке промышленного строительства в Петербурге. В 2015 году в городе было построено и реконструировано 448,6 тыс. кв. м производственных площадей, что на 3,6% меньше, чем годом ранее.'])
          p В прошлом году в Петербурге было построено 33 производственных объекта общей площадью 196,1 тыс. кв. м, реконструировано еще 10 предприятий (252,5 тыс. кв. м).
          p Лидерами ввода промышленных площадей стали Пушкинский (180,3 тыс. кв. м), Красногвардейский (81,6 тыс.) и Приморский (58,3 тыс.) районы. Ни одного предприятия за минувший год не было построено и реконструировано в пяти районах Петербурга – Адмиралтейском, Василеостровском, Калининском, Кронштадтском и Центральном.
          p.cit При этом львиную долю годового результата обеспечил всего один объект – реконструкция действующего автомобильного завода «Тойота Мотор»  площадью 136,7 тыс. кв. м в Шушарах.
          .row 
            .col__60.col_margin
              +lists(
              [''],
              ['lists__item_blue'],
              [
                'сохранение жизни и здоровья работников;',
                'соблюдение требований контрактов и ожиданий Заказчика, действующих',
                'законодательных и иных нормативных правовых актов, органов государственного надзора и контроля;',
                'вовлечение сотрудников в управление охраной труда и здоровья;',
                'повышение эффективности системы управления охраной труда, создающей атмосферу безопасности.'
              ]
            )
            .col__40
              img(src='images/articles/10.jpg')
          .row.share-row.center
            .col__60.col_margin
              .new-tags
                span.tt Тэги:
                a(href='') АРХИТЕКТОР, 
                a(href='') Строительство, 
                a(href='') Строительные работы, 
                a(href='') ДОМА
            .col__40 
              .row.center.end 
                span.tt Поделиться:
                .row.share
                  a(href="").footer__soc-link
                  a(href="").footer__soc-link
                  a(href="").footer__soc-link
                  a(href="").footer__soc-link
                  a(href="").footer__soc-link
                  a(href="").footer__soc-link 
      .comment-form
        .comment-c
          .str30
            span.comment-c2 2 
            span.comment-c1 Комментария
          span.str30.comment-c3 Оставить комментарий
        .form 
          form(action="")
            .row 
              .col__60.col_margin
                textarea(placeholder='Сообщение').form__area
              .col__40
                input(type="text", placeholder='Ваше имя*').form__input
                input(type="text", placeholder='Ваш e-mail*').form__input
                input(type="submit", value='Отправить комментарий').button.button_blue.button_grand-m      
        .comment-area
          .comment-area-wrapper
            .comment-result
              .comment-name Анжела  Полуян - 9 августа 2016
              p Лидерами ввода промышленных площадей стали Пушкинский (180,3 тыс. кв. м), Красногвардейский (81,6 тыс.) и Приморский (58,3 тыс.) районы. Ни одного предприятия за минувший год не было построено и реконструировано в пяти районах Петербурга – Адмиралтейском, Василеостровском, Калининском, Кронштадтском и Центральном. 
              .comment-ans ответить
              .textarea-wrp
                textarea.comment-textarea(placeholder='Комментарий')
                input(type='submit', value='Отправить').button.button_blue
            .comment-area-wrapper
              .comment-result
                .comment-name Анжела  Полуян - 9 августа 2016
                p Лидерами ввода промышленных площадей стали Пушкинский (180,3 тыс. кв. м), Красногвардейский (81,6 тыс.) и Приморский (58,3 тыс.) районы. Ни одного предприятия за минувший год не было построено и реконструировано в пяти районах Петербурга – Адмиралтейском, Василеостровском, Калининском, Кронштадтском и Центральном. 
                .comment-ans ответить
                .textarea-wrp
                  textarea.comment-textarea(placeholder='Комментарий')
                  input(type='submit', value='Отправить').button.button_blue