extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Заказчики"
      ])
      +heading([
        'Заказчики УКСХ'
      ])
      .container
        .container-map
          img(src='images/backgrounds/11.png')
      .container 
        .row.between.col__custom.country
          ul
            li
              img(src="images/country/1.png", alt="")
              a(href="").jsCountry Германия

            li
              img(src="images/country/2.png", alt="")
              a(href="").jsCountry Испания

            li
              img(src="images/country/3.png", alt="")
              a(href="").jsCountry Италия

          ul
            li
              img(src="images/country/4.png", alt="")
              a(href="").jsCountry Китай

            li
              img(src="images/country/5.png", alt="")
              a(href="").jsCountry Оман

            li
              img(src="images/country/6.png", alt="")
              a(href="").jsCountry Франция

          ul
            li
              img(src="images/country/7.png", alt="")
              a(href="").jsCountry Финляндия

            li
              img(src="images/country/8.png", alt="")
              a(href="").jsCountry Япония
      .container
        .row.customers
          - for (var x = 0; x < 16; x++)
            a(href="images/customers/1.png").docs__link.col__23.jsCli
              img(src="images/customers/1.png", alt="").docs__img
              | Hyundai