extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Контанты"
      ])
      .section__tab
        span.jsTab.tab-c.active Екатеринбуржский офис
        span.jsTab.tab-c Краснодарский офис
      .section__content-contacts
        .jsCont.active
          .row
            .col_margin.col_bg.static 
              .str20
                span ЗАО «Управляющая компания строительного холдинга» (ЗАО «УКСХ»)
              span.row.str20.c-icon-1 620014, Россия, г. Екатеринбург, пр. Ленина, д. 24/8, 620.
              a(href="tel:+74952416829").row.str20.c-icon-2 Тел.: +7 (343)  379-00-69, 371-43-30, 371-62-41.
              a(href="tel:+74952416829").row.str20.c-icon-4 Тел./факс: +7(343) 371-27-00, 371-04-18.
              a(href="mailto:info@uksh.ru").row.str20.c-icon-3 E-mail: <span>info@uksh.ru</span>
              .row.cont-s
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
            .auto__width
              .map 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.1000851210106!2d37.402659951813924!3d55.7393899804543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ee00f062451%3A0x7656fb1cd30c60f7!2sPartizanskaya+ul.%2C+41%2C+Moskva%2C+121359!5e0!3m2!1sen!2sru!4v1469704114267" frameborder="0" style="border:0" allowfullscreen></iframe> 
        .jsCont
          .row
            .col_margin.col_bg.static 
              .str20
                span ЗАО «Управляющая компания строительного холдинга» (ЗАО «УКСХ»)
              span.row.str20.c-icon-1 620014, Россия, г. Екатеринбург, пр. Ленина, д. 24/8, 620.
              a(href="tel:+74952416829").row.str20.c-icon-2 Тел.: +7 (343)  379-00-69, 371-43-30, 371-62-41.
              a(href="tel:+74952416829").row.str20.c-icon-2 Тел./факс: +7(343) 371-27-00, 371-04-18.
              a(href="mailto:info@uksh.ru").row.str20.c-icon-3 E-mail: <span>info@uksh.ru</span>
              .row.between
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
                a(href="").cont__soc-link
            .auto__width
              .map 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.1000851210106!2d37.402659951813924!3d55.7393899804543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ee00f062451%3A0x7656fb1cd30c60f7!2sPartizanskaya+ul.%2C+41%2C+Moskva%2C+121359!5e0!3m2!1sen!2sru!4v1469704114267" frameborder="0" style="border:0" allowfullscreen></iframe> 
      .section__content-contact-form
        span.str30 Форма для обратной связи
        .form 
          form(action="")
            .row 
              .col__40.col_margin
                input(type="text", placeholder='Ваше имя*').form__input
                input(type="text", placeholder='Ваш e-mail*').form__input
                input(type="text", placeholder='Номер телефона').form__input
              .col__60
                textarea(placeholder='Сообщение').form__area
                input(type="submit", value='Отправить сообщение').button.button_blue.button_grand-m