extends layout
include mixins.pug

block content
  - var pageId = 0;
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Наши вокансии"
      ])
      +heading([
        'Работать вместе с нами',
        [
        'В ЗАО «Управляющая компания строительного холдинга» ценят своих сотрудников. На сегодняшний день штат компании составляет более 400 человек, каждый из которых является высококвалифицированным специалистом в своей области управления недвижимостью. Сотрудники компании будут рады познакомиться с Вами лично!'
        ]
      ])
      .team-acord
        ul.jsNavgoco.acordion
          - for (var x = 0 ; x <4 ; x++)
            li.acordion__item
              a(href='#').acordion__link Инженер-энергетик
              ul.acordion__sub-item.acordion__sub-item_reset
                li
                  h3.str14 Обязаности
                  span.acordion__span Обеспечивать бесперебойную работу, правильную эксплуатацию, ремонт энергетического оборудования, электрических сетей.
                  span.acordion__span Выявлять причины сбоев и аварий при эксплуатации этого оборудования, принимать меры по их предупреждению и устранению.
                  span.acordion__span Выполнение электротехнических работ.
                  h3.str14 Требования:
                  span.acordion__span Допуск по электробезопасности.
                  span.acordion__span Опыт работы.
                  h3.str14 Условия
                  span.acordion__span Неполный рабочий день, заработная плата на банковскую пластиковую карточку.
                    
