extends layout
include mixins.pug

block content
  +header()
  section.section__content
    .container-wrapper
      +bread-crumbs([
        "Главная", 
        "Подрядчикам"
      ])
      +heading([
        'подрядчикам.',
        'УКСХ проводит предквалификационный отбор подрядчиков по всем видам строительных работ для дальнейшей реализации проектов на удаленных территориях (Забайкальский край, Западная и Южная Сибирь, Чукотка), а также приглашает компании, работающие в Центральном Федеральном Округе (Тула, Калуга, Липецк, Белгород).',
        'Для участия в отборе заполните, пожалуйста, анкету и с приложенными документами вышлите на адрес:','tender@stepcon.ru'
      ])
      .container.d-download 
        .row 
          .col__50
            a.dock__download(href="").doc_icon-1.center 
              span Скачать Анкету в формате MS WORD (.docx)
          .col__50
            a.dock__download(href="").doc_icon-2.center 
              span Скачать Анкету в формате ADOBE ACROBAT (.PDF)
      .container
        .steps
          span.str30 Этапы
      .container_bot
        ul.nums
          li.nums__item.row
            span.nums__value 1
            p Выполненные работы необходимо сдать техническому надзору Заказчика на строительном объекте. В случае выявления Заказчиком недостатков в работе, их следует устранить. Работы считаются принятыми техническим надзором при наличии его подписи на ведомости выполненных работ (либо на актах выполненных работ КС-2).
          li.nums__item.row
            span.nums__value 2
            p На основании подписанной ведомости необходимо сформировать акты и справки о стоимости выполненных работ (КС-2, КС-3) в формах Excel. Формы для оформления КС-2 и КС-3 можно скачать на сайте нашей компании. Комментарии по заполнению - внутри форм. 
          li.nums__item.row
            span.nums__value 3
            p Если в процессе работ возникла необходимость внести корректировки (изменение объемов, расценок, материалов, сроков и пр.), при согласовании с Руководителем проекта, необходимо заключить дополнительное соглашение к договору подряда. 
          li.nums__item.row
            span.nums__value 4
            p В случае, если изменения незначительные, и не влияют на общую стоимость договора, достаточно согласовать их с оформлением письма (образец прилагается).
          li.nums__item.row
            span.nums__value 5
            p При выполнении работ с использованием давальческого материала (поставка Заказчика), необходимо оформить отчет о расходовании материалов Заказчика (форма М-29) на основании оборотно-сальдовой ведомости (форма М-15 - предоставляется менеджером по затратам или бухгалтерией)
          li.nums__item.row
            span.nums__value 6
            p Сформированные документы (КС-2, КС-3, М-29) следует отправить на проверку менеджеру по затратам по электронной почте (предпочтительно) или лично в бумажном виде.
          li.nums__item.row
            span.nums__value 7
            p Нормативное время проверки документов - 5 дней. При правильно оформленных документах Вам необходимо передать их оригиналы Заказчику, а именно: 
              <br>- подписанная технадзором и мастером ведомость (оригинал) 
              <br>- КС-2 - акт выполненных работ ( в 2-х экземплярах) 
              <br>- КС-3 - справка о стоиомсти выполненных работ (в 2-х экземплярах) 
              <br>- М-29 - отчет о расходовании материалов Заказчика (в 2-х экземплярах) 
              <br>- счет и/или счет-фактура (если работаете с НДС)
          li.nums__item.row
            span.nums__value 8
            p Далее документы передаются на подпись Руководителю проекта.