- var GoogleFonts = false
- var jQuery = true
- var amChart = false
- var captcha = false

//- Google Analytics
- var GoogleAnalytics = false

//- Slider variables
- var bxslider = false
- var slickslider = false
- var lightslider = false

//- Scroll-bar
- var scrollbar = false

//- Modal
- var remodal = false

//- Acordion 
- var navgoco = false

//- Custom select 
- var select = false

//- Plugins 
- var plugins = true