- var GoogleFonts = false
- var jQuery = false
- var amChart = false
- var captcha = false
- var plugins = false

//- Google Analytics
- var GoogleAnalytics = false

//- Slider variables
- var bxslider = true
- var slickslider = false
- var lightslider = false

//- Scroll-bar
- var scrollbar = false

//- Acordion 
- var navgoco = true