// bx-lider-2
.bx-slider-2-wrapper
  background: rgba(39, 52, 128, 0.88)
  width 466px 
  padding 17px 25px
  overflow hidden
  border-right 6px solid #e2ebed
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.38)
  p 
    color white !important
    medium()
    font-size 16px
    line-height 25px !important
#next 
  border-bottom 1px solid #959789 
  margin-top 7px
#next
#prev
  background: #fbfcfd
  width 30px 
  height 35px
  cursor: pointer
  box-shadow: 1px 0 2px 0px rgba(0, 0, 0, 0.39);
.bx-controls
  right 0px
  top 0px
.bx-contros-slider
  position absolute
  top 80px
  z-index 1
  right 100px
#next 
  cursor pointer
  display flex
  .icon 
    margin auto auto
    sprite($sprite-left5)
    display block
  &:hover 
    .icon
      sprite($sprite-left5a)
#prev 
  cursor pointer
  display flex
  .icon 
    margin auto auto
    sprite($sprite-right2)
    display block
  &:hover 
    .icon
      sprite($sprite-right2a)
      

// Section border 

.img-border-wrapper
  padding-right: 50px;
  padding-top: 30px;
.img-border 
  box-shadow: 30px -30px 0 0 #d5eaf3
  img 
    width 100%
    max-width 100%
    height auto
    display block
    
.img-border-wrapper-left
  padding-left: 50px;
  padding-top: 30px;
.img-border-left 
  box-shadow: -30px -30px 0 0 #d5eaf3
  img 
    width 100%
    max-width 100%
    height auto
    display block
    

// Icon nums 

.icon__num-1
  sprite($sprite-icon3)
  margin 30px auto
.icon__num-2
  sprite($sprite-icon4)
  margin 30px auto
.icon__num-3
  sprite($sprite-icon5)
  margin 30px auto
.icon__num-4
  sprite($sprite-icon6)
  margin 30px auto
.icon__num-5
  sprite($sprite-icon7)
  margin 30px auto
  
// Socials sprites 

.footer__soc1
  margin 5px 0 0 0
  a
    &:first-child
      sprite($sprite-soc1)
      &:hover 
        sprite($sprite-soc1a)
    &:nth-child(2)
      sprite($sprite-soc2)
      &:hover 
        sprite($sprite-soc2a)
    &:nth-child(3)
      sprite($sprite-soc3)
      &:hover 
        sprite($sprite-soc3a)
    &:last-child
      sprite($sprite-soc4)
      &:hover 
        sprite($sprite-soc4a)
.footer__soc2
  a
    &:first-child
      sprite($sprite-soc5)
      &:hover 
        sprite($sprite-soc5a)
    &:nth-child(2)
      sprite($sprite-soc6)
      &:hover 
        sprite($sprite-soc6a)
    &:nth-child(3)
      sprite($sprite-soc7)
      &:hover 
        sprite($sprite-soc7a)
    &:last-child
      sprite($sprite-soc8)
      &:hover 
        sprite($sprite-soc8a)
        
// new-level 
.icon-level
  sprite($sprite-new-level)
  vam(-2px, 0px 0 0 10px)
.new-level
  regular()
  font-size 10px 
  text-transform: uppercase
  color blue3
  span 
    text-align justify
  &:hover
    .icon-level 
      sprite($sprite-new-levela)
      
// BG 
.col__50_bg 
  background: image-url('bg7.png') left top no-repeat
.m-scroll 
  height 80%
.morphsearch
  top 0px 
  right 0px 
  width 0px 
  height 0px
  z-index 9999
.morphsearch-content
  background: blue
  padding-top 45px
  height 100%
  padding-bottom 100px
  .mCSB_container 
    padding-right 20px
.morphsearch.open .morphsearch-content
  height 100%
.morphsearch
  position: fixed
.morphsearch.open .morphsearch-form
  height 95px
.morphsearch.open input
  regular() !important
  font-size 48px !important
.morphsearch-input
  color blue
  regular() !important
.dummy-media-object:hover h3
  color yellow

.search 
  border-right 1px solid grey2
  height 70px
  cursor: pointer
  position relative 
  +after('')
    width 1px 
    height 6px 
    background: yellow
    right -1px
    position absolute
    bottom 0px
  &:hover .search__icon 
    sprite($sprite-search-a)
.search__icon 
  sprite($sprite-search)
  static()
  margin auto 20px
label:hover span 
  trs()
.all 
  text-transform: uppercase 
  bold()
  color #156dbd
  +before('')
    sprite($sprite-left2)
    vam(, 0px 10px 0 0)
    
.docs__link 
  width 99%
  img 
    display block
    width 100% 
    max-width 100% 
    height auto
    
.img-border_grey
  box-shadow: 30px -30px 0 0 #e3dec5
  
.str-title 
  font-size 16px 
  bold()
  color blue2
  margin 0 0 20px 0
  
.lists__items 
  margin 0 0 20px 0
  font-size 13px 
  color grey
  line-height 20px
  italic()
.lists__item
  &_blue
    li
      display flex
      margin-bottom 0px
      italic()
      font-size 13px
      line-height 30px
      +before('')
        width 8px 
        height @width
        background: blue3
        vam(10px, 0px 7px 0 0)
        box-flex: 1;
        flex: 0 0 auto;
  &_yellow 
    li
      display flex
      +before('')
        width 10px 
        height @width
        background: yellow
        vam(3px, 0px 5px 0 0)
        box-flex: 1;
        flex: 0 0 auto;

.bg-img 
  width 100%
  max-width 100% 
  height auto
  display block

.row  
  .span__99
    width 99%
  .span__90
    width 90%
  .span__92
    width 92%
  .span__89
    width 89%
.self-end
  align-self: flex-end;
.self-center
  align-self: center
.acordion__span 
  font-size 14px
  display flex
  margin 8px 0
  line-height: 21px
  +before('')
    width 6px 
    height @width
    background: yellow
    box-flex: 1;
    flex: 0 0 auto;
    border-radius (50%)
    vam(6px, 0px 8px 0 0)
.acordion
  .str14 
    medium()
    color blue2
.section__content-text
  medium()
  line-height 23px
  p
    font-size 16px
.bx-controls-4 
  width 180px
  margin 0 auto
  position relative 
  top -25px
.section__content-h3
  color blue
  font-size 24px
  bold()
  text-transform: uppercase
  line-height 27px
.col__65 img 
  position relative 
  left 40px
.team 
  padding 0 0 50px 0
.box 
  margin 25px 0 0 0
  width 200px 
  height @width
  padding 50px 0 0 0
  border 10px solid blue2
  text-align: center
  .str70 
    bold()
    font-size 70px
    color blue2
  .str25 
    font-size 25px
    color blue2
    text-transform: uppercase
    position relative 
    top -5px
.col__628
  width 64.1%
.img-width 
  img
    width 100%
    max-width 100% 
    height auto
.graphics
  .str18
    color blue
    medium()
  li 
    margin 0 0 20px 0
.icon-g1 
  sprite($sprite-g1)
  margin-right 20px
.icon-g2 
  sprite($sprite-g2)
  margin-right 20px
.icon-g3
  sprite($sprite-g3)
  margin-right 20px
.text-wrapper
  p 
    medium()
    font-size 16px
.team-descr 
  padding 0 0 40px 0
    
.acordion__sub__link
  width 23%
  .str20 
    bold()
    color blue2
    font-size 20px
    display: block
    padding 20px 0 10px 0
  .str14 
    display: block
  img 
    display block
    width 100% 
    max-width 100% 
    height auto
.acrodion__sub__name
  background: #eef1f2
  text-align: center
  padding 0 15px 0px 15px
.bord 
  height 2px 
  width 70px 
  background: yellow
  margin 0 auto
  position relative 
  top 3px
.team__item 
  margin 30px 0 0 0
.team-acord 
  padding 30px 0 30px 0
body .acordion__sub-item_reset
  margin-top 0px  
h4 
  medium()
  color blue2
.charts 
  padding 25px 0 0 0
  width 100%
  height 500px
  span 
    font-size 12px
  #chartdiv 
    width 100%
    height 100%
.offers 
  padding 80px 0
  .col__23 
    text-align: center
  .str16 
    medium()
.chart1
  sprite($sprite-chart1)
  margin 0 auto 20px auto
.chart2
  sprite($sprite-chart2)
  margin 0 auto 20px auto
.chart3
  sprite($sprite-chart3)
  margin 0 auto 20px auto
.chart4
  sprite($sprite-chart4)
  margin 0 auto 20px auto
  
.tab 
  padding 40px 0 60px 0
  img 
    width 100% 
    max-width 100% 
    height auto

.lic 
  padding-top 20px
  padding-bottom 60px
.lic-gal
  flex-wrap wrap
  
.docs__link.col__23
  border none
  width 23%
  margin-right 2.5%
  margin-bottom 2.5%
  &:nth-child(4n-0)
    margin-right 0px
    span 
      display none    
      
.save 
  padding 30px 0 50px 0
  
.img-flex
  img 
    width 100% 
    height auto 
    max-width 100%
    
.container 
  padding 50px 0
  &_reset 
    padding-bottom 0px
    
// .scroll-wrap
//   height 500px
  
.s-text 
  color white
  padding-top 5px
.nums p 
  margin 0 !important
.nums__span 
  font-size 14px 
  medium()
.nums__value
  background: yellow
  color white
  bold()
  font-size 60px
  width 50px 
  height @width
  line-height @height
  padding-top 4px
  text-align: center
  margin-right 20px
  static()
.nums__item
  margin-bottom 40px
.doc_icon-1
  color blue
  +before('')
    vam(, 0px 15px 0 0)
    sprite($sprite-doc)
    static()
  &:hover 
    +before()
      sprite($sprite-doca)
  static()
.doc_icon-2
  color blue
  +before('')
    vam(, 0px 15px 0 0)
    sprite($sprite-pdf)
    static()
  &:hover 
    +before()
      sprite($sprite-pdfa)
.dock__download
  display flex
  span 
    padding-top 3px
  &:hover span 
    background: #c6cbe6
    trs()
p a:hover 
  background: #c6cbe6
  trs()
.history 
  border-bottom: 1px solid #eaeaea;
  padding 0 0 50px 0
  margin 50px 0 0 0
  &:last-child
    border none
  &:first-child
    margin 20px 0 0 0
  .col__left 
    background: yellow 
    text-align: center
    padding 20px 15px
    height 115px
    static()
    span 
      color blue
      display block
  .str58
    bold()
  .str20
    medium()
  .col__right 
    .str30 
      bold()
      margin 0 0 10px 0
      line-height 33px
    p 
      margin 0
.date-line
  padding 15px 0 0 0
  .bx-next 
    sprite($sprite-bnext)
    &:hover 
      sprite($sprite-bnexta)
  .bx-prev
    sprite($sprite-bprev)
    &:hover 
      sprite($sprite-bpreva)
  .bx-wrapper     
    padding 0 50px
.bx-wrapper .bx-prev
  left 0px 
.bx-wrapper .bx-next 
  right 0px
.date__link
  background: #eaeeef
  font-size 16px 
  color blue
  padding 0 5px 
  height 29px 
  line-height 31px
  &:hover 
    background: blue 
    color white
.container_top 
  padding-top 10px
  
.morphsearch-content
  overflow scroll

.history_reset 
  .col__left 
    height auto
    background: transparent
    span 
      color black
      padding-left 0px
      padding-right 0px
  .col__right 
    .str30 
      color blue
  .arcticle__prev
    height auto 
    max-width 100% 
    margin 15px auto 0 auto
    display block
.history.history_reset
  p 
    margin-bottom 15px
  .blue
    margin-bottom 0px
.partners .col__right
  .str30 
    color black
    
.menu__item_active
  border-color blue !important
  .menu__link 
    +after()
      background: blue

.bx-wrapper .bx-pager
  position relative 
  z-index 66
  width 131px 
  margin 0 auto
  
.container-map
  img
    display block
    max-width 100%
    height auto
    margin 0 auto
    
.country
  margin 0 auto
  a
    font-size 16px 
    color blue 
    border-bottom 1px dashed blue
    margin 0 0 20px 0
    &:hover 
      border-color transparent
  img 
    vam(, 0px 15px 0 0)

.cli-wrap 
  margin 60px 0 100px 0
  img 
    max-width 100% 
    height auto
    display block
    margin 0 auto
.col__custom 
  width 700px
.jsWhite 
  background: white
.jsPopup-3 
  width 100%
  margin 0 
  top 0px 
  left 0px 
  position absolute
  height 100%
  p 
    margin 0 0 30px 0
  padding-bottom 50px
.customers
  flex-wrap wrap
  .docs__link 
    padding 25px 25px 20px 25px
    border 1px solid grey2
    text-align: center
    font-size 18px 
    medium()
    color blue
    img 
      width auto 
      max-width 100%
      display block
      margin 0 auto 20px auto

.filter__items 
  background #eaeeef
  padding 25px
  span 
    bordered(blue2, ,blue)
    margin-bottom 15px
    cursor pointer
    &:hover 
      color blue2
  li 
    &:last-child span
      margin 0px  
.mix
  display: none;
  position relative
  overflow hidden
.mixitup 
  overflow hidden
  text-align justify
  +after('')
    display: inline-block;
    width: 100%;
.gap 
  width 23%
  display: inline-block;
  vertical-align: top
.mix
  width 23%
  margin-bottom 2.5%
  border 1px solid grey2
  background: white
  &:hover 
    .filter-content
      opacity 1
      margin-left 0px 
      trs()
.filter.active 
  color blue2
  +after()
    width 100%
.filter-wrapper
  .top-img img
    width 100%
    height auto 
    display block
  .bottom-img 
    padding 25px 20px
    img
      display block
      margin 0 auto 
      max-width 100%
.filter-content-in
  padding 20px
  .str18.bold:hover 
    color blue2
.filter-content
  position: absolute
  top 0px 
  left 0px
  width 100%
  height auto
  background: white
  margin-left -200px
  trs()
  opacity 0
  span 
    display block
  ul 
    margin 10px 0
  .str18
    color blue
  .ot
    margin-bottom 10px
    color #414144
.city 
  color blue2
  display inline-block !important
.place 
  background: #156eb9
  padding 15px 20px 16px 20px
  span 
    color white
    bold()
.dline 
  margin-top 3px
p a 
  color blue
.prev-a 
  +after('')
    sprite($sprite-bx-prev)
    vam(, auto auto)
.next-a
  +after('')
    sprite($sprite-bx-next) 
    vam(, auto auto)
.prev-p 
  position absolute
  left 0px
  top 40%
  img 
    display block
    transform: rotateY(90deg);
    transform-origin left
    trs()
    opacity 0 
    visibility hidden
  a 
    perspective: 300px;
  &:hover 
    img 
      transform rotateY(0deg)
      opacity 1 
      visibility visible
      trs()
.arrows
  width 100px 
  height @width
  background: #eaeeef
  &:hover 
    background: yellow
.next-p 
  position absolute
  right 0px
  top 40%
  img 
    display block
    transform: rotateY(-90deg);
    transform-origin right
    trs()
    opacity 0 
    visibility hidden
  a 
    perspective: 300px;
  &:hover 
    img 
      transform rotateY(0deg)
      opacity 1 
      visibility visible
      trs()
.arrows
  width 100px 
  height @width
  background: #eaeeef
.page-stat 
  .cl
    font-size 14px
    +before()
      display none
.cl
  text-align left
  color blue
  padding 4px 3px 3px 3px
  display: inline-block
  +before('')
    width 5px 
    height @width 
    background: yellow
    vam(1px, 0px 10px 0 0 )
    border-radius(50%)
    static()  
  &:hover 
    background: yellow
.cl_active 
  background: yellow
.container_bot 
  padding-bottom 20px
.filter__items 
  ul 
    padding-right 20px
.steps 
  border-left 7px solid blue
  background: #eaeeef
  padding 30px 0px 27px 40px
  .str30 
    bold()
    text-transform uppercase
    color blue
.step
  position: relative
  background: #eaeeef
  z-index 1
  display: block
  height 100px 
  line-height 106px
  a 
    display block
    padding-left 40px
    position relative 
    z-index 2
  +before('')
    display block
    position absolute
    top 0px 
    left 0px 
    width 10px 
    background: yellow
    height 100%
    trs()
  &:hover 
    +before()
      width 100%
      trs()
      z-index 0
  .str30 
    bold()
    text-transform: uppercase
    color blue
    position relative 
    z-index 2
  &:first-child
    margin-bottom 30px
.steps-wrapper
  margin-bottom 200px
.section__not-found 
  padding 200px 0
  background: #fdd500
.not-found 
  text-align: center
  margin auto auto
  position relative
  img 
    display block
    margin auto auto
    max-width 100%
    height auto
.not-str
  absolute-center(700px,150px)
  padding-top 50px
  .str30 
    bold()
    text-transform: uppercase
    display: block
    margin 0 0 30px 0
    
.map 
  iframe
    height 310px
    width 100%
    display block
.col_bg 
  background url(../images/backgrounds/bg12.jpg) no-repeat
  padding 30px 25px
  padding-bottom 0px
  background-size cover
  width 370px
.section__content-contacts
  .str20 
    font-size 13px 
    color white
    margin-bottom 15px
    line-height 17px
    regular()
    span 
      bold()
      font-size 14px
    &_m 
      margin-bottom 0px
  .c-icon-3 span 
    color yellow
    regular()
.cont-s a
  margin-right 5px
.c-icon-1
  &:before
    content ''
    sprite($sprite-c-icon-1)
    display block
    margin-right 10px
    position relative
    top -1
    static()
.c-icon-2
  &:before
    content ''
    sprite($sprite-c-icon-2)
    display block
    margin-right 10px
    position relative
    top -1px 
    left 2px
    static()
.c-icon-3
  &:before
    content ''
    sprite($sprite-c-icon-3)
    display block
    margin-right 10px
    position relative
    top -1
    static()
.c-icon-4
  &:before
    content ''
    sprite($sprite-c-icon-4)
    display block
    margin-right 10px
    position relative
    top -1
    static()
.cont__soc-link
  &:first-child 
    sprite($sprite-cont1)
    display: block
    &:hover 
      sprite($sprite-soc1a)
  &:nth-child(2)
    sprite($sprite-cont2)
    display: block
    &:hover 
      sprite($sprite-soc2a)
  &:nth-child(3)
    sprite($sprite-cont3)
    display: block
    &:hover 
      sprite($sprite-soc3a)
  &:nth-child(4)
    sprite($sprite-cont4)
    display: block
    &:hover 
      sprite($sprite-soc4a)
  &:nth-child(5)
    sprite($sprite-cont5)
    display: block
    &:hover 
      sprite($sprite-soc5a)
  &:nth-child(6)
    sprite($sprite-cont6)
    display: block
    &:hover 
      sprite($sprite-soc6a)
.tab-c.active 
  background: blue2
  color white
.tab-c 
  font-size 14px 
  bold()
  text-transform: uppercase
  color blue
  padding 25px 40px 23px 40px
.section__tab 
  background: #eaeeef
  margin-bottom 30px
.section__content-contact-form
  margin 60px 0 50px 0
  .str30 
    margin 0 0 30px 0
    text-transform: uppercase
  .form__area
    height 150px
  .form__input 
    height 60px
  .button 
    height 60px
    line-height 65px
.form__input 
.form__area
  background: #eaeeef
  color blue 
  font-size 14px 
  padding 20px
  margin 0 0 30px 0
  medium()
  +placeholder()
    color blue 
.news-wrapper 
  .str36 
    bold()
    color white
    display: block
    background: blue
    height 60px 
    width @height
    line-height 60px
    text-align: center
  .str20
    text-transform: uppercase
    display: block
    background: yellow
    height 40px 
    width 60px
    line-height 40px
    text-align: center
  .auto__width 
    img 
      max-width 100%
      display block 
      height auto
  > .row 
    border-bottom 1px solid rgba(200, 207, 209, 0.55);
    padding 0 0 50px 0
    margin 50px 0 0 0
    &:first-child
      margin 0px
  .str30 
    bold()
    color black
    line-height 35px
    margin 0 0 20px 0
    &:hover
      color blue 
      trs()
  .more 
    bordered(yellow, 18px,blue)
    
.pagination__item_active a 
  background: yellow
.pagination 
  margin 40px 0 0 0
.full__pagination
  a 
    color blue 
    font-size 36px 
    bold() 
    width 50px 
    height @width
    line-height 54px 
    text-align: center
    margin 3px
    &:hover 
      color blue2
  li 
    &:nth-child(2)
      margin-left auto
    &:first-child
      &:hover
        a 
          color blue2 
          +before()
            sprite($sprite-bx-prev-a)
      a 
        width auto
        margin-right auto
        font-size 18px
        text-transform: uppercase
        medium()
        color blue
        &:before 
          content ''
          sprite($sprite-bx-prev)
          display inline-block 
          vertical-align: middle
          margin-right 10px
          position relative 
          top -2px
.pagination__item:last-child
  margin-left: auto;
  margin-right: 0;
  a 
    width auto
    margin-right auto
    font-size 18px
    text-transform: uppercase
    medium()
    color blue
    &:after 
      content ''
      sprite($sprite-bx-next)
      display inline-block 
      vertical-align: middle
      margin-left 10px
      position relative 
      top -2px
  &:hover 
    a 
      color blue2 
      +after()
        sprite($sprite-bx-next-a)
.single-page
  img 
    max-width 100%
    height auto 
    display block 
  &-img
    margin 0 0 30px 0
    img
      max-width 100%
      height auto 
      display block
.cit 
  border-left 2px solid yellow
  padding 20px 0 20px 20px
  margin-left 60px !important
  display block 
.section__content_news 
  h2 
    color black
.tags 
  font-size 14px 
  text-transform: uppercase
  padding 10px 0 20px 0
  li
    display inline-block
    color blue
    +after('')
      width 6px 
      height @width 
      border-radius(50%)
      vam(-2px, 0px 10px)
      background: yellow
    &:first-child
    &:last-child
      color #7d7d7d
    &:last-child 
      +after('')
        display none

.share
  a
    margin 0 2px
    &:first-child
      sprite($sprite-soc1)
      &:hover 
        sprite($sprite-soc1a)
    &:nth-child(2)
      sprite($sprite-soc2)
      &:hover 
        sprite($sprite-soc2a)
    &:nth-child(3)
      sprite($sprite-soc3)
      &:hover 
        sprite($sprite-soc3a)
    &:nth-child(4)
      sprite($sprite-soc4)
      &:hover 
        sprite($sprite-soc4a)
    &:nth-child(5)
      sprite($sprite-soc5)
      &:hover 
        sprite($sprite-soc5a)
    &:nth-child(6)
      sprite($sprite-soc6)
      &:hover 
        sprite($sprite-soc6a)
      
.share-row 
  padding 40px 0
  border-bottom 1px solid #dddddd
  .tt 
    bold()
    color black 
    font-size 14px 
    text-transform: uppercase
    margin-right 5px
  .new-tags 
    a 
      font-size 14px
      color blue
      text-transform uppercase
      &:hover 
        color blue2

.comment-c
   .str30 
     text-transform: uppercase
.comment-c2
  color yellow
  padding-bottom 30px
.comment-c1
  padding-bottom 30px
.comment-c3
  padding-bottom 20px
  padding-top 10px
  
.comment-form
  .form 
    padding 0 0 30px 0
  .form__area 
    height 240px
  .button 
    padding: 0 20px;
    line-height 65px
  input
    padding 0 20px 
    height: 60px;
    
.comment-area 
  padding-bottom 100px
  p 
    margin 0 0 20px 0 !important
  .comment-textarea
    background: #eaeeef
    padding 20px 
    color blue 
    font-size 14px
    margin 0px 0 25px 0
    width 100%
    height 150px
    medium()
    +placeholder()
      color blue 
      medium()
.comment-name 
  medium()
  font-size 14px
  padding 0 0 20px 0
  +before('')
    width 6px 
    height @width 
    background: blue 
    border-radius (50%)
    vam(, 0px 10px 0 0)  
.textarea-wrp.active 
  display block
.textarea-wrp
  display none
  position relative
  input 
    position absolute
    right 0px 
    bottom 29px
.comment-ans 
  cursor pointer
  bold()
  margin 0 0 20px 0
  text-transform: uppercase
  color blue
  +before('')
    sprite($sprite-comment)
    vam(, 0px 10px 0 0)
  &:hover 
    +before()
      sprite($sprite-commenta)
    color yellow
.comment-area-wrapper 
  .comment-area-wrapper
    padding-left 80px
.bx-wrapper .bx-controls-direction a
  z-index 100
.section__page 
  h2 
    text-align: center
    margin-bottom 0px
.pl 
  text-align: center
  width 100%
.page__img img
  max-width 100% 
  display block
  margin 30px auto 
.bx-wrap
  width 900px 
  margin 0 auto
.page-slider 
  position relative
  width 100%
.bx-controls-2 
  position absolute
  width 100%
  left 0px
  top 50%
  .s-prev 
    left 0px
    position absolute
  .s-next 
    right 0px
    position absolute
.bx-car-wrap
  width 800px 
  margin 50px auto 
  padding 0 40px
.bx-controls-3
  margin 0 -40px 
  position: relative
  top 25px
  .s-prev-2
    top 50%
    position absolute
    left 0px 
  .s-next-2
    top 50%
    position absolute
    right 0px
.sc 
  z-index 1000
.bx-car-wrap
  .active2
  .active
    +after('')
      width 100%
      height 100% 
      display: block
      position: absolute
      left 0px 
      top 0px 
      background: rgba(39, 52, 128, 0.72);
.page-stat 
  .str14 
    medium()
    margin 0 0 2px 0
    span 
      color blue2
      margin-bottom 10px
  .stru 
    color #414144
  .str18 
    margin 0 0 10px 0
  .str18.bold
    margin-bottom 40px
  margin-bottom 40px
  .button 
    line-height 43px
    margin 10px 0 0 0
  ul 
    margin 15px 0
    span 
      padding 4px 20px
    .active span 
      background: yellow
  li 
    padding 2px
    display: block
    text-align: center
    medium()
    font-size 14px
    +before()
      display none
  width 800px 
  margin 0 auto
  text-align: center
  .str14 
    display: block
  .str18
    display: block
.section__page
  

  .bx-prev
    sprite($sprite-bx-prev)
    &:hover
      sprite($sprite-bx-prev-a)
  .bx-next
    sprite($sprite-bx-next)
    &:hover
      sprite($sprite-bx-next-a)
.jsPopup-1
.jsPopup-2
.jsPopup-3
  display none
.jsPopup-1.active 
  display block
.jsPopup-2.active 
  display block
.jsPopup-3.active 
  display block
.jsPopup-2 
  padding-top 60px    
  padding-bottom 60px    
.c-link 
  font-size 16px
  bordered(blue, blue)
  color blue
  text-transform: none
  margin 0 0 10px 0
  &:hover 
    color blue
.c-ul li
  display flex
  +before('')
    width 6px 
    height @width 
    border-radius (50%)
    background: yellow
    vam(4px, 0px 10px 0 0 )
    static()
  &:last-child a 
    margin 0px
.cli-p
  width 860px
  margin 0 auto
  